
img{
    width:120px;
    height:150px;
    float:left;
    margin-top:20px;
    margin-left:10px;
    border:2px dashed black;
    
    
}
.main{
    width: 400px;
    height:200px;
    background:linear-gradient(red 40%,blue 60%); 
    border-radius:10px;  
    border:1px double black;
    box-shadow: 5px 5px 10px black;
    display:flex;
    justify-content: space-around;
    margin:auto;

}
.info{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    display:block;
    margin:auto;
    padding:auto;
    font-display:inherit;
    font-style: oblique;
    font-weight:lighter;
    max-height:max-content;
    font-size:large;
    text-shadow: 10px 10px 10px white;
}

